*{
margin: 0;
padding: 0;
font-size: 1.1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 4rem;
    background-color:#b8715fab;
}
.LO{
    display: flex;
}
.menu-header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: end;
}
.menu-header li{
    margin-right: 2em;
    font-size: 0.6em;
}
.menu-header a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    .menu-header a:hover{
        color: rgb(13, 188, 211);
        transition: 0,05;
    }
    .sessao1{
        background-color:#b8715fab;
        padding: 2rem;
   
    }
    .sessao1 img{
 width: 100%;
        }
        .sessao1 h1{
        display: flex;
            justify-content: center;
    }
    .sessao2{
        padding:20rem ;
        background-color:#abff86 ;
    }
    
    
    .imagem img{
    display:block;
    justify-content: space-around;
    width: 40%;
    height: 50%;
  }













    .sessao3{
        padding: 20rem;
        background-color:#abff86 ;
    }











    .sessao4{
        padding: 20rem;
        background-color:#abff86 ;
    }





    .hodape{
        padding: 3rem;
        background-color: #19e401;
    }